.header {
    border: solid 3px red; 
    background: black;
    height: 100px;
}
.logo {
    width: 100px;
    padding: 5px;
    margin-top: 25px;
    margin-left: 5px;
    display: inline-block;
}
.menu {
    width: 30px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 5px; 
    display: inline-block; 
}
.section1 {
    border: solid 3px red; 
    background-image: url(CSS/imagenes/premium_dancer.png);
    height: 300px;
}
.section2 {
    border: solid 3px red; 
    background: blue;
    height: 400px;
}
.footer {
    border: solid 3px red; 
    background: blue;
    height: 200px;
}