* {
    font-family: roboto sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 3px red; 
    background: black;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.logo {
    width: 100px;
    padding: 5px;
}
.menu {
    width: 30px;
    padding: 5px;  
}
.nav {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 43px;
}

.section1 {
    display: flex;
    flex-direction: column;
    background-color: lightskyblue;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    gap: 20px;
    padding: 10px;
}
.planes {
    border-radius: 20%;
    width: 100%;
    border: springgreen;
    background-color: palegreen;
}

.section2 {
    display: flex;
    flex-direction: column;
    border: solid 3px red; 
    background-color: white;
    width: 100%; 
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;

}
.porque {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.beneficios{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 40px;

}

.articulo {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
      
} 

.texto-articulo {
    display: flex;
    flex-direction: column;
}

.imagen-articulo {
   height: 40px; 
   
}

.footer {
    display: flex;
    border: solid 3px red; 
    background-color: black;
    color: white;
    justify-content: space-between;
    font-size: 5px;
    width: 100%;
    padding: 0.5px;
    z-index: 999;
    min-height: 100px;
    align-items: center;
}

.footer1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
}

.footer-link {
 display: flex; 
 flex-direction: column;
 flex-wrap: nowrap;

}

.footer2 {}

.españa {
    height: 15px;
}


@media screen and (min-width: 736px) {
    
    .section1 {

        background-image: url(../CSS/imagenes/premium_dancer.png);
    }

  }
    
