* {
    font-family: roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 3px red; 
    background: black;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.logo {
    width: 100px;
    padding: 5px;
}
.menu {
    width: 30px;
    padding: 5px;  
}
.nav {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 43px;
}

.section1 {
    display: flex;
    flex-direction: column;
    /* border: solid 3px red; */
   /* background-image: url(../CSS/imagenes/premium_dancer.png); */
   /* background: blue; */
    background-color: lightskyblue;
    background-position: right;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    gap: 20px;
    padding: 10px;
}
.planes {
    border-radius: 20%;
    width: 100%;
    border: springgreen;
    background-color: palegreen;
}

.section2 {
    display: flex;
    flex-direction: column;
    border: solid 3px red; 
    background-color: white;
    width: 100%; 
}
.porque {
    display: flex;
    width: 100%;
}
.beneficios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}
/*
.articulo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100px;
    height: 100px;
} */

.imagen-articulo {
   height: 30px; 
   
}

.footer {
    display: flex;
    height: 20vh;
    border: solid 3px red; 
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 10px;
    width: 100%;
    padding: 0.5px;
    z-index: 999;
}

.footer1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
}

.footer2 {}
.españa {
    height: 15px;
}


@media screen and (min-width: 736px) {
    
    .section1 {

        background-image: url(../CSS/imagenes/premium_dancer.png);
    }

  }
    
